In [1]:
import pandas as pd

In [27]:
df = pd.DataFrame(columns=['example'], dtype=str, index=['table'])

In [28]:

df['example'].loc['table'] = 'this is a table'

In [29]:
df

               example
table  this is a table

In [49]:
lst = [1,2,45,46]
lst.pop(lst.index(45))

45

In [50]:
lst

[1, 2, 46]